<%= form_for(@stock) do |f| %>
	<% if @stock.errors.any? %>
		<div id="error_explanation">
			<h4><%= pluralize(@stock.errors.count, "error") %> prohibited this stock from being saved:</h4>
			
			<% @stock.errors.full_messages.each do |message| %>
				<div class="alert alert-danger" role="alert">
					<p><%= message %></p>
				</div>
			<% end %>
		</div>
	<% end %>
		
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Activo</h3>
		</div>
		<div class="panel-body">
			<table class="table">
				<tr>
					<td>
						<div class="input-group">
							<%= f.label 'Símbolo' %>
							<%= f.text_field :symbol, class: "form-control", placeholder: "Símbolo" %>
						</div>
					</td>
					<td>
						<div class="input-group">
							<%= f.label 'Tipo' %>
							<%= f.select(:type_stock, options_for_select([["Acción", 1],["Bono", 2]], @stock.type_stock), {}, {class: "form-control"}) %>
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<div class="input-group">
							<%= f.label 'Cantidad' %>
							<%= f.text_field :quantity, class: "form-control", placeholder: "Cantidad" %>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
		
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Compra</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-lg-8">
					<table class="table">
						<tr>
							<td>
								<div class="input-group">
									<%= f.label 'Fecha de Compra' %>
									<%= f.date_field :purchase_date, class: "form-control", placeholder: "Fecha de Compra" %>
								</div>
							</td>
							<td>
								<div class="input-group">
									<%= f.label 'Precio de Compra' %>
									<%= f.text_field :purchase_price, class: "form-control", placeholder: "Precio de Compra" %>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="input-group">
									<%= f.label 'Comisión de Compra' %>
									<%= f.text_field :purchase_commission, class: "form-control", placeholder: "Comisión de Compra" %>
								</div>
							</td>
							<td>
								<div class="input-group">
									<%= f.label 'IVA Comisión de Compra' %>
									<%= f.text_field :purchase_commission_iva, class: "form-control", placeholder: "IVA Comisión de Compra" %>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="input-group">
									<%= f.label 'Dº Mercado de Compra' %>
									<%= f.text_field :purchase_market_right, class: "form-control", placeholder: "Dº Mercado de Compra" %>
								</div>
							</td>
							<td>
								<div class="input-group">
									<%= f.label 'IVA Dº Mercado de Compra' %>
									<%= f.text_field :purchase_market_right_iva, class: "form-control", placeholder: "IVA Dº Mercado de Compra" %>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="input-group">
									<%= f.label 'Subtotal' %>
									<%= f.text_field :subtotal_purchase, class: "form-control", readonly: true %>
								</div>
							</td>
							<td>
								<div class="input-group">
									<%= f.label 'Impuestos' %>
									<%= f.text_field :tax_purchase, class: "form-control", readonly: true %>
								</div>
							</td>
						</tr>
						<tr>
							<td colspan="2" align="center">
								<div class="input-group">
									<%= f.label 'Total' %>
									<%= f.text_field :total_purchase, class: "form-control", readonly: true %>
								</div>
							</td>
						</tr>
					</table>
				</div>
				
				<%= render 'current_purchase_rate_chart' %>
			</div>
		</div>
	</div>
	
			
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Venta</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-lg-8">
					<table class="table">
						<tr>
							<td>
								<div class="input-group">
									<%= f.label 'Fecha de Venta' %>
									<%= f.date_field :sale_date, class: "form-control", placeholder: "Fecha de Venta" %>
								</div>
							</td>
							<td>
								<div class="input-group">
									<%= f.label 'Precio de Venta' %>
									<%= f.text_field :sale_price, class: "form-control", placeholder: "Precio de Venta" %>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="input-group">
									<%= f.label 'Comisión de Venta' %>
									<%= f.text_field :sale_commission, class: "form-control", placeholder: "Comisión de Venta" %>
								</div>
							</td>
							<td>
								<div class="input-group">
									<%= f.label 'IVA Comisión de Venta' %>
									<%= f.text_field :sale_commission_iva, class: "form-control", placeholder: "IVA Comisión de Venta" %>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="input-group">
									<%= f.label 'Dº Mercado de Venta' %>
									<%= f.text_field :sale_market_right, class: "form-control", placeholder: "Dº Mercado de Venta" %>
								</div>
							</td>
							<td>
								<div class="input-group">
									<%= f.label 'IVA Dº Mercado de Venta' %>
									<%= f.text_field :sale_market_right_iva, class: "form-control", placeholder: "IVA Dº Mercado de Venta" %>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="input-group">
									<%= f.label 'Subtotal' %>
									<%= f.text_field :subtotal_sale, class: "form-control", readonly: true %>
								</div>
							</td>
							<td>
								<div class="input-group">
									<%= f.label 'Impuestos' %>
									<%= f.text_field :tax_sale, class: "form-control", readonly: true %>
								</div>
							</td>
						</tr>
						<tr>
							<td colspan="2" align="center">
								<div class="input-group">
									<%= f.label 'Total' %>
									<%= f.text_field :total_sale, class: "form-control", readonly: true %>
								</div>
							</td>
						</tr>
					</table>
				</div>
				<%= render 'current_sale_rate_chart' %>
			</div>
		</div>
	</div>
		
	<div class="actions">
		<%= f.submit 'Guardar', class: "btn btn-default"%>
	</div>
<% end %>