<div class="panel panel-dafault">
	<div class="panel-heading">Mis acciones y bonos</div>
	<div align="right"><td><%= link_to 'Nueva', new_my_stock_path, class: "btn btn-default" %></td></div>
	<table class="table">
		<thead>
			<th>Símbolo</th>
			<th>Cantidad</th>
			<th>Fecha Compra</th>
			<th>Precio Compra</th>
			<th>Total Compra</th>
			<th>Fecha Venta</th>
			<th>Precio Venta</th>
			<th>Total Venta</th>
			<th>Resultado</th>
			<th>Var. %</th>
			<th>Días</th>
			<th>Anual</th>
		</thead>
		<tbody>
			<% @my_stocks.each do |my_stock| %>
				<tr>
					<th><%= link_to my_stock.symbol, my_stock_path(my_stock) %></th>
					<td><%= my_stock.quantity %></td>
					<td><%= my_stock.purchase_date %></td>
					<td><%= number_to_currency(my_stock.purchase_price) %></td>
					<td><%= number_to_currency(my_stock.total_purchase) %></td>
					<td><%= my_stock.sale_date %></td>
					<td><%= number_to_currency(my_stock.showed_sale_price) %></td>
					<td><%= number_to_currency(my_stock.total_sale) %></td>
					<td style="color: <%= (my_stock.result >= 0)? "green" : "red" %>"><%= number_to_currency(my_stock.result) %></td>
					<td style="color: <%= (my_stock.result >= 0)? "green" : "red" %>"><%= my_stock.variation %></td>
					<td><%= my_stock.days %></td>
					<td style="color: <%= (my_stock.result >= 0)? "green" : "red" %>"><%= my_stock.variation_anual %></td>
					<td align="right"><%= link_to 'Editar', edit_my_stock_path(my_stock) %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
