<div class="panel panel-dafault">
	<div class="panel-heading">Mis acciones y bonos</div>
	<div align="right"><td><%= link_to 'Nueva', new_my_stock_path, class: "btn btn-default" %></td></div>
	<table class="table">
		<thead>
			<th>Símbolo</th>
			<th>Cantidad</th>
			<th>Fecha Compra</th>
			<th>Precio Compra</th>
			<th>Total Compra</th>
			<th>Fecha Venta</th>
			<th>Precio Venta</th>
			<th>Total Venta</th>
			<th>Resultado</th>
			<th>Var. %</th>
			<th>Días</th>
			<th>Anual</th>
		</thead>
		<tbody>
			<% total_result = 0 %>
			<% total_current_result = 0 %>
			<% @my_stocks.each do |my_stock| %>
				<tr <%= my_stock.sale_date.nil? ? "" : "class=sold-stock" %> >
					<th><%= link_to my_stock.symbol, my_stock_path(my_stock) %></th>
					<td class="result-column"><%= my_stock.quantity %></td>
					<td><%= my_stock.purchase_date %></td>
					<td class="result-column"><%= number_to_currency(my_stock.purchase_price) %></td>
					<td class="result-column"><%= number_to_currency(my_stock.total_purchase) %></td>
					<td><%= my_stock.sale_date %></td>
					<td class="result-column"><%= number_to_currency(my_stock.showed_sale_price) %></td>
					<td class="result-column"><%= number_to_currency(my_stock.total_sale) %></td>
					<td class="result-column" style="color: <%= (my_stock.result >= 0)? "green" : "red" %>"><%= number_to_currency(my_stock.result) %></td>
					<td class="result-column" style="color: <%= (my_stock.result >= 0)? "green" : "red" %>"><%= my_stock.variation %></td>
					<td class="result-column"><%= my_stock.days %></td>
					<td class="result-column" style="color: <%= (my_stock.result >= 0)? "green" : "red" %>"><%= my_stock.variation_anual %></td>
					<td align="right"><%= link_to 'Editar', edit_my_stock_path(my_stock) %></td>
				</tr>
				<% total_result += my_stock.result %>
				<% total_current_result += (my_stock.sale_date.nil?) ?  0 : my_stock.result %>
			<% end %>
		</tbody>
		<tfoot>
			<td colspan="7"></td>
			<th>Total histórico</th>
			<td class="result-column" style="color: <%= (total_result >= 0)? "green" : "red" %>"><%= number_to_currency(total_result) %></td>
			<td colspan="3"></td>
		</tfoot>
		<tfoot>
			<td colspan="7"></td>
			<th>Activos actuales</th>
			<td class="result-column" style="color: <%= (total_result >= 0)? "green" : "red" %>"><%= number_to_currency(total_current_result) %></td>
			<td colspan="3"></td>
		</tfoot>
	</table>
</div>
<div align="center">

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Gráfico de Tenencias
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="flot-chart">
                    <div class="flot-chart-content" id="flot-pie-chart"></div>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>
<!-- /.row -->
</div>
<%= javascript_include_tag "flot/jquery.js" %>
<%= javascript_include_tag "flot/excanvas.js" %>
<%= javascript_include_tag "flot/jquery.flot.js" %>
<%= javascript_include_tag "flot/jquery.flot.pie.js" %>
<%= javascript_include_tag "flot/jquery.flot.tooltip.js" %>
<%= javascript_include_tag "flot/flot-data.js" %>
