<%= form_for(@stock) do |f| %>
	<% if @stock.errors.any? %>
		<div id="error_explanation">
			<h4><%= pluralize(@stock.errors.count, "error") %> prohibited this stock from being saved:</h4>
			
			<% @stock.errors.full_messages.each do |message| %>
				<div class="alert alert-danger" role="alert">
					<p><%= message %></p>
				</div>
			<% end %>
		</div>
	<% end %>
		
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Activo</h3>
		</div>
		<div class="panel-body">
			<table class="table">
				<tr>
					<td>
						<div class="input-group">
							<%= f.label 'Símbolo' %>
							<%= f.text_field :name, class: "form-control", placeholder: "Símbolo" %>
						</div>
					</td>
					<td>
						<div class="input-group">
							<%= f.label 'Mercado' %>
							<%= f.text_field :market, class: "form-control", placeholder: "Mercado" %>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
		
	<div class="actions">
		<%= f.submit 'Guardar', class: "btn btn-default"%>
	</div>
<% end %>